<div class="container-fluid pt-3 mt-3">
    <div class="row justify-content-center">
        <div class="col-8">
            <form [formGroup]="doctorFormGroup" (ngSubmit)="addDoctors()">


                <h2>Fill in the details</h2>
                <div class="form-group row">


                    <label class="col-2 col-form-label">Doctor Name</label>
                        <input type="text" class="form-control" formControlName="doctorName">

                    
                </div>
                <div class="form-group row">


                    <label class="col-2 col-form-label">Doctor Mobile</label>
                        <input type="text" class="form-control" formControlName="doctorMobile">

                    
                </div>
                <div class="form-group row">


                    <label class="col-2 col-form-label">Doctor Sch</label>
                        <input type="text" class="form-control" formControlName="doctorSchedule">

                    
                </div>
                <div class="form-group row">


                    <label class="col-2 col-form-label">Doctor MailId</label>
                        <input type="text" class="form-control" formControlName="emailId">

                    
                </div>


                <div class="form-group row">
                    <label class="col-2 col-form-label">Password</label>
                    
                        <input type="text" class="form-control" formControlName="password" />
                        

                    
                    </div>
                    <div class="form-group row">
                        <div formGroupName="department">
                            <label class="col-2 col-form-label">Department Id</label>
                            
                            <input type="text" class="form-control" formControlName="deptId"/>

                            

                        </div>

                    </div>

                    






                        <div>
                            <input type="submit" class="btn btn-success" value="submit">
                        </div>
            </form>
           
        </div>

    </div>
</div>
