<div class="container">
    <h1>Appointment Details</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>UserId</th>
                <th>DoctorId</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointment">
                <td>{{appointment.patientAppointmentId}}</td>
                <td>{{appointment.appointmentDate}}</td>
                <td>{{appointment.appointmentTime}}</td>
                <td>{{appointment.user.userId}}</td>
                <td>{{appointment.doctor.doctorId}}</td>
            </tr>
        </tbody>
    </table>
</div>
