<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>

<img class="background-image" src="assets/images/mg.jpeg" alt="Background Image">
<body>
  <div>
  
  <div class="container" >
    
    

    <h1>About Us - EDUCARE</h1>
    <p>Welcome to Educare Multi-speciality Hospital, your trusted healthcare provider!</p>
    <p>Our hospital is equipped with state-of-the-art facilities and a team of experienced doctors, nurses, and staff who are committed to delivering excellent medical care.</p>
    <p>With our advanced technology and patient-centric approach, we strive to ensure the well-being and satisfaction of every individual who walks through our doors.</p>
    <p>Whether you need routine check-ups, specialized treatments, or emergency care, our hospital is here to serve you.</p>
    <p>Thank you for choosing our hospital for your healthcare needs. We look forward to providing you with the best possible care.</p>
    <h2>Our Departments</h2>
    <h3>General Surgery Department</h3>
    <p>The General Surgery Department at Hospital Name provides a wide range of surgical services, including appendectomies, hernia repairs, gallbladder surgeries, and more.</p>
    <h3>Cardiology Department</h3>
    <p>Our Cardiology Department offers comprehensive cardiac care, including diagnostic tests, medical management, and interventional procedures for heart-related conditions.</p>
    <h3>Neurology Department</h3>
    <p>In the Neurology Department, our team of neurologists specializes in diagnosing and treating disorders of the nervous system, including epilepsy, stroke, multiple sclerosis, and Parkinson's disease.</p>
    <h2>Our Mission</h2>
    <p>At Educare Hospital, our mission is to provide exceptional healthcare services with compassion and dedication. We are committed to improving the health and well-being of our patients through innovative treatments and personalized care.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions or would like to schedule an appointment, please contact us at:</p>
    <p>Address: 1-240/c, Ameerpate, Telangana, Zip Code->50064</p>
    <p>Phone: (123) 456-7890</p>
    <p>Email: eduCaregmail.com</p>
  </div>
  
</div>
</body>
</html>